body{
    background-color: green;
    margin: 0;
}

.white-div{
    background-color: white;
    width: 40%;
    height: 30vh;
    margin-left: 30%;
    margin-top: 5%;
    border-radius: 8px; 
    padding-left: 30px;
}

.title-tag{
    color: black;
    font-size: 55px;
    padding-top: 50px;
    margin: 0;
    display: flex;
    justify-content: center;
}

.clock{
    width: auto;
    font-size: 4.5em; 
    margin-bottom: 50px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.beggin{
    width: 90px;
    height: 35px;
    font-size: larger;
    border-radius: 8px;
}

.stoper{
    width: 90px;
    height: 35px;
    font-size: larger;
    border-radius: 8px;
}

.restart{
    width: 90px;
    height: 35px;
    font-size: larger;
    border-radius: 8px;
}

.buttons-div{
    position: static;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
}
